.App {
    max-width: 120rem;
    margin: 3rem;
}

.App__input {
   width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
